<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>back</title>
</head>
<body>

<div>
    <div>
        <h1>back</h1>
        <h2>back</h2>
        <h3>back</h3>
    </div>
    <hr>

</div>
<script type="text/javascript">
    window.onload = function () {
        //要执行的js代码段
        var str = "$(document).ready(function(){}) : 表示文档结构已经加载完成（不包含图片等非文字媒体文件）\n" +
            "$(document).ready(function(){})等同于$(function(){}) " +
            "window.onload: 表示页面包含图片等文件在内的所有元素都加载完成后执行。\n" +
            "--------------------- \n" +
            "\n可以理解为：ready 在onload 前加载！！！>*_*<";
        console.log(str);
    };

</script>
</body>
</html>
