<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arc.zero.mapper.system.LogMapper">
    <resultMap id="sysLog" type="com.arc.core.model.domain.system.Log">
        <id property="id" column="sys_log_id" javaType="long" jdbcType="BIGINT"/>
        <result property="createDate" column="sys_log_create_date" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="fromAddress" column="sys_log_from_address" javaType="string" jdbcType="VARCHAR"/>
        <result property="insertQuantity" column="sys_log_insert_quantity" javaType="int" jdbcType="INTEGER"/>
        <result property="method" column="sys_log_method" javaType="string" jdbcType="VARCHAR"/>
        <result property="name" column="sys_log_name" javaType="string" jdbcType="VARCHAR"/>
        <result property="note" column="sys_log_note" javaType="string" jdbcType="VARCHAR"/>
        <result property="operatorId" column="sys_log_operator_id" javaType="long" jdbcType="BIGINT"/>
        <result property="operatorName" column="sys_log_operator_name" javaType="string" jdbcType="VARCHAR"/>
        <result property="parameter" column="sys_log_parameter" javaType="string" jdbcType="VARCHAR"/>
        <result property="success" column="sys_log_success" javaType="int" jdbcType="INTEGER"/>
        <result property="successQuantity" column="sys_log_success_quantity" javaType="int" jdbcType="INTEGER"/>
        <result property="targetAddress" column="sys_log_target_address" javaType="string" jdbcType="VARCHAR"/>
        <result property="updateQuantity" column="sys_log_update_quantity" javaType="int" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="sqlSysLogColumns">
		sys_log_.create_date AS sys_log_create_date,
		sys_log_.from_address AS sys_log_from_address,
		sys_log_.id AS sys_log_id,
		sys_log_.insert_quantity AS sys_log_insert_quantity,
		sys_log_.method AS sys_log_method,
		sys_log_.name AS sys_log_name,
		sys_log_.note AS sys_log_note,
		sys_log_.operator_id AS sys_log_operator_id,
		sys_log_.operator_name AS sys_log_operator_name,
		sys_log_.parameter AS sys_log_parameter,
		sys_log_.success AS sys_log_success,
		sys_log_.success_quantity AS sys_log_success_quantity,
		sys_log_.target_address AS sys_log_target_address,
		sys_log_.update_quantity AS sys_log_update_quantity
	</sql>

    <delete id="delete" parameterType="long">
        DELETE FROM  t_sys_log
        WHERE  id = #{id,jdbcType=BIGINT}
    </delete>

    <select id="get" parameterType="long" resultMap="sysLog">
        SELECT
        <include refid="sqlSysLogColumns"/>
        FROM t_sys_log sys_log_
        WHERE sys_log_.id = #{id,jdbcType=BIGINT}
    </select>

    <select id="list" resultMap="sysLog">
        SELECT
        <include refid="sqlSysLogColumns"/>
        FROM t_sys_log sys_log_
    </select>


    <insert id="save" parameterType="com.arc.core.model.domain.system.Log" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_sys_log (
			create_date,
			from_address,
			insert_quantity,
			method,
			name,
			note,
			operator_id,
			operator_name,
			parameter,
			success,
			success_quantity,
			target_address,
			update_quantity
		)
        VALUES (
			#{createDate,jdbcType=TIMESTAMP},
			#{fromAddress,jdbcType=VARCHAR},
			#{insertQuantity,jdbcType=INTEGER},
			#{method,jdbcType=VARCHAR},
			#{name,jdbcType=VARCHAR},
			#{note,jdbcType=VARCHAR},
			#{operatorId,jdbcType=BIGINT},
			#{operatorName,jdbcType=VARCHAR},
			#{parameter,jdbcType=VARCHAR},
			#{success,jdbcType=INTEGER},
			#{successQuantity,jdbcType=INTEGER},
			#{targetAddress,jdbcType=VARCHAR},
			#{updateQuantity,jdbcType=INTEGER}
		)
	</insert>

    <update id="update" parameterType="com.arc.core.model.domain.system.Log">
        UPDATE t_sys_log
        <set>
            <if test="createDate != null">create_date = #{createDate,jdbcType=TIMESTAMP},</if>
            <if test="fromAddress != null and fromAddress != ''">from_address = #{fromAddress,jdbcType=VARCHAR},</if>
            <if test="insertQuantity != null">insert_quantity = #{insertQuantity,jdbcType=INTEGER},</if>
            <if test="method != null and method != ''">method = #{method,jdbcType=VARCHAR},</if>
            <if test="name != null and name != ''">name = #{name,jdbcType=VARCHAR},</if>
            <if test="note != null and note != ''">note = #{note,jdbcType=VARCHAR},</if>
            <if test="operatorId != null">operator_id = #{operatorId,jdbcType=BIGINT},</if>
            <if test="operatorName != null and operatorName != ''">operator_name = #{operatorName,jdbcType=VARCHAR},
            </if>
            <if test="parameter != null and parameter != ''">parameter = #{parameter,jdbcType=VARCHAR},</if>
            <if test="success != null">success = #{success,jdbcType=INTEGER},</if>
            <if test="successQuantity != null">success_quantity = #{successQuantity,jdbcType=INTEGER},</if>
            <if test="targetAddress != null and targetAddress != ''">target_address =
                #{targetAddress,jdbcType=VARCHAR},
            </if>
            <if test="updateQuantity != null">update_quantity = #{updateQuantity,jdbcType=INTEGER},</if>
        </set>
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

</mapper>
