<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arc.zero.mapper.system.SysRoleMapper">
    <resultMap id="sysRole" type="com.arc.core.model.domain.system.SysRole">
        <id property="id" column="role_id" javaType="long" jdbcType="BIGINT"/>
        <result property="name" column="role_name" javaType="string" jdbcType="VARCHAR"/>
        <result property="root" column="role_root" javaType="int" jdbcType="INTEGER"/>
        <result property="state" column="role_state" javaType="int" jdbcType="INTEGER"/>
        <result property="note" column="role_note" javaType="string" jdbcType="VARCHAR"/>
        <result property="createTime" column="role_create_time" javaType="java.time.LocalDateTime"
                jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="role_update_time" javaType="java.time.LocalDateTime"
                jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="sqlSysRoleColumns">
		role_.id AS role_id,
		role_.name AS role_name,
		role_.root AS role_root,
		role_.state AS role_state,
		role_.note AS role_note,
		role_.create_time AS role_create_time,
		role_.update_time AS role_update_time
	</sql>

    <delete id="delete" parameterType="long">
        DELETE FROM  t_sys_role WHERE id = #{id,jdbcType=BIGINT}
    </delete>

    <select id="get" parameterType="long" resultMap="sysRole">
        SELECT
        <include refid="sqlSysRoleColumns"/>
        FROM t_sys_role role_ WHERE role_.id = #{id,jdbcType=BIGINT}
    </select>

    <select id="list" resultMap="sysRole">
        SELECT
        <include refid="sqlSysRoleColumns"/>
        FROM t_sys_role role_
    </select>

    <insert id="save" parameterType="com.arc.core.model.domain.system.SysRole" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_sys_role (
			`name`,
			root,
			state,
			note,
			create_time,
			update_time
		)
        VALUES (
			#{name,jdbcType=VARCHAR},
			#{root,jdbcType=INTEGER},
			#{state,jdbcType=INTEGER},
			#{note,jdbcType=VARCHAR},
	        now(),
	        now()
		)
	</insert>

    <insert id="batchSave" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_sys_role ( `name`, root, state, note, create_time, update_time )
        VALUES
        <foreach collection="roles" item="item" index="index" separator=",">
            ( #{item.name},#{item.root},#{item.state},#{item.note},now(),now())
        </foreach>
    </insert>


    <update id="update" parameterType="com.arc.core.model.domain.system.SysRole">
        UPDATE t_sys_role
        <set>
            <if test="name != null and name != ''">`name` = #{name,jdbcType=VARCHAR},</if>
            <if test="root != null">root = #{root,jdbcType=INTEGER},</if>
            <if test="state != null">state = #{state,jdbcType=INTEGER},</if>
            <if test="note != null and note != ''">note = #{note,jdbcType=VARCHAR},</if>
            <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
            <if test="updateTime != null">update_time = #{updateTime,jdbcType=TIMESTAMP},</if>
        </set>
        WHERE id = #{id,jdbcType=BIGINT}
    </update>


    <!-- 关系表rr 数据维护-->
    <delete id="deleteAllRoleResource" parameterType="long">
        DELETE FROM  t_sys_role_resource WHERE role_id = #{id,jdbcType=BIGINT}
    </delete>

    <!-- 关系表rr 数据维护 保存 角色-资源 关联关系-->
    <insert id="saveBatchRoleResource" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_sys_role_resource ( role_id,resource_id )
        VALUES
        <foreach collection="roleResources" item="item" index="index" separator=",">
            ( #{item.roleId},#{item.resourceId})
        </foreach>
    </insert>

</mapper>
