<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arc.zero.mapper.system.SysResourceMapper">
    <resultMap id="sysResource" type="com.arc.core.model.domain.system.SysResource">
        <id property="id" column="resource_id" javaType="long" jdbcType="BIGINT"/>
        <result property="method" column="resource_method" javaType="string" jdbcType="VARCHAR"/>

        <result property="note" column="resource_note" javaType="string" jdbcType="VARCHAR"/>
        <result property="parentId" column="resource_parent_id" javaType="string" jdbcType="VARCHAR"/>
        <result property="path" column="resource_path" javaType="string" jdbcType="VARCHAR"/>
        <result property="priority" column="resource_priority" javaType="int" jdbcType="INTEGER"/>
        <result property="resourceName" column="resource_resource_name" javaType="string" jdbcType="VARCHAR"/>
        <result property="type" column="resource_type" javaType="string" jdbcType="VARCHAR"/>
        <result property="createTime" column="resource_create_date" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="resource_update_date" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="sqlSysResourceColumns">
		resource_.id AS resource_id,
		resource_.resource_name AS resource_resource_name,
		resource_.method AS resource_method,
		resource_.note AS resource_note,
		resource_.parent_id AS resource_parent_id,
		resource_.path AS resource_path,
		resource_.priority AS resource_priority,
		resource_.type AS resource_type,
		resource_.create_date AS resource_create_date,
		resource_.update_date AS resource_update_date
	</sql>

    <delete id="delete" parameterType="long">
        DELETE FROM  t_sys_resource        WHERE  id = #{id,jdbcType=BIGINT}
    </delete>

    <delete id="deleteIdIn">
        DELETE FROM t_sys_resource WHERE id in
        (
        <foreach collection="ids" item="item" index="index" separator=",">
            #{item}
        </foreach>
        )
    </delete>

    <select id="get" parameterType="string" resultMap="sysResource">
        SELECT
        <include refid="sqlSysResourceColumns"/>
        FROM t_sys_resource resource_ WHERE resource_.id = #{id,jdbcType=BIGINT}
    </select>

    <select id="list" resultMap="sysResource">
        SELECT
        <include refid="sqlSysResourceColumns"/>
        FROM t_sys_resource resource_
    </select>

    <!--批量保存-->
    <insert id="saveBatch" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_sys_resource (
        method,
        note,
        parent_id,
        path,
        priority,
        resource_name
        )

        VALUES
        <foreach collection="resources" item="item" index="index" separator=",">
            (
            #{item.method},
            #{item.note},
            #{item.parentId},
            #{item.path},
            #{item.priority},
            #{item.resourceName}
            )
        </foreach>
    </insert>


    <insert id="save" parameterType="com.arc.core.model.domain.system.SysResource" useGeneratedKeys="true"
            keyProperty="id">
		INSERT INTO t_sys_resource (
			create_date,
			method,
			note,
			parent_id,
			path,
			priority,
			resource_name,
			`type`,
			update_date
		)
        VALUES (
			#{createDate,jdbcType=TIMESTAMP},
			#{method,jdbcType=VARCHAR},
			#{note,jdbcType=VARCHAR},
			#{parentId,jdbcType=VARCHAR},
			#{path,jdbcType=VARCHAR},
			#{priority,jdbcType=INTEGER},
			#{resourceName,jdbcType=VARCHAR},
			#{type,jdbcType=VARCHAR},
			#{updateDate,jdbcType=TIMESTAMP}
		)
	</insert>

    <update id="update" parameterType="com.arc.core.model.domain.system.SysResource">
        UPDATE t_sys_resource
        <set>
            <if test="method != null and method != ''">method = #{method,jdbcType=VARCHAR},</if>
            <if test="note != null and note != ''">note = #{note,jdbcType=VARCHAR},</if>
            <if test="parentId != null and parentId != ''">parent_id = #{parentId,jdbcType=VARCHAR},</if>
            <if test="path != null and path != ''">path = #{path,jdbcType=VARCHAR},</if>
            <if test="priority != null">priority = #{priority,jdbcType=INTEGER},</if>
            <if test="resourceName != null and resourceName != ''">resource_name = #{resourceName,jdbcType=VARCHAR},
            </if>
            <if test="type != null and type != ''">`type` = #{type,jdbcType=VARCHAR},</if>
            <if test="updateDate != null">update_date = #{updateDate,jdbcType=TIMESTAMP},</if>
        </set>
        WHERE id = #{id,jdbcType=BIGINT}
    </update>


    <update id="updateBatch" parameterType="java.util.Set">
        <if test="resources !=null">
            <foreach collection="resources" item="resource" index="index" open="" close="" separator=";">
                UPDATE t_sys_resource
                <set>
                    resource_name=#{resource.resourceName},
                    method=#{resource.method},
                    path=#{resource.path},
                    priority=#{resource.priority},
                    type=#{resource.type},
                    parent_id=#{resource.parentId},
                    note=#{resource.note},
                    update_date=#{resource.updateDate}
                </set>
                <where>
                    id = #{resource.id,jdbcType=BIGINT}
                </where>
            </foreach>
        </if>
    </update>

    <update id="truncate">
            truncate table  ${tableName}
    </update>





    <!--    <insert id="insertOrUpdate_List" parameterType="MyInfo">
            insert into t_sys_resource (

            create_date,
            method,
            note,
            parent_id,
            path,
            priority,
            resource_name,
            `type`,
            update_date

            )
            values
            <foreach collection ="list" item="info" separator="," >
                (
                #{createDate,jdbcType=TIMESTAMP},
                #{method,jdbcType=VARCHAR},
                #{note,jdbcType=VARCHAR},
                #{parentId,jdbcType=VARCHAR},
                #{path,jdbcType=VARCHAR},
                #{priority,jdbcType=INTEGER},
                #{resourceName,jdbcType=VARCHAR},
                #{type,jdbcType=VARCHAR},
                #{updateDate,jdbcType=TIMESTAMP}
                )
            </foreach>
            ON DUPLICATE KEY UPDATE
            type = VALUES(type),name = VALUES(name)
        </insert>-->

</mapper>
