<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arc.zero.mapper.system.SysUserAuthMapper">
    <resultMap id="auth" type="com.arc.core.model.domain.system.SysUserAuth">
        <id property="id" column="user_auth_id" javaType="long" jdbcType="BIGINT"/>
        <result property="userId" column="user_auth_user_id" javaType="long" jdbcType="BIGINT"/>
        <result property="identifier" column="user_auth_identifier" javaType="string" jdbcType="VARCHAR"/>
        <result property="credential" column="user_auth_credential" javaType="string" jdbcType="VARCHAR"/>
        <result property="identityType" column="user_auth_identity_type" javaType="int" jdbcType="INTEGER"/>
        <result property="state" column="user_auth_state" javaType="int" jdbcType="INTEGER"/>
        <result property="verified" column="user_auth_verified" javaType="int" jdbcType="INTEGER"/>
        <result property="createDate" column="user_auth_create_date" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="updateDate" column="user_auth_update_date" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="columnSysUserAuth">
		user_auth_.id AS user_auth_id,
		user_auth_.user_id AS user_auth_user_id,
		user_auth_.identity_type AS user_auth_identity_type,
		user_auth_.identifier AS user_auth_identifier,
		user_auth_.credential AS user_auth_credential,
		user_auth_.state AS user_auth_state,
		user_auth_.verified AS user_auth_verified,
		user_auth_.create_date AS user_auth_create_date,
		user_auth_.update_date AS user_auth_update_date
	</sql>
    <sql id="sysUserAuthColumn">
		user_auth_.id AS user_auth_id,
		user_auth_.user_id AS user_auth_user_id,
		user_auth_.identity_type AS user_auth_identity_type,
		user_auth_.identifier AS user_auth_identifier,
		user_auth_.credential AS user_auth_credential,
		user_auth_.state AS user_auth_state,
		user_auth_.verified AS user_auth_verified,
		user_auth_.create_date AS user_auth_create_date,
		user_auth_.update_date AS user_auth_update_date
	</sql>

    <delete id="delete" parameterType="long">
        DELETE FROM  t_sys_user_auth
        WHERE  id = #{id,jdbcType=BIGINT}
    </delete>

    <select id="get" parameterType="long" resultMap="auth">
        SELECT
        <include refid="columnSysUserAuth"/>
        FROM t_sys_user_auth user_auth_
        WHERE user_auth_.id = #{id,jdbcType=BIGINT}
    </select>

    <select id="getByIdentifierWithCredentialAndIdentityType" resultMap="auth">
        SELECT
        <include refid="columnSysUserAuth"/>
        FROM t_sys_user_auth user_auth_
        WHERE
        user_auth_.identity_type =#{identityType}
        AND user_auth_.credential=#{credential}
        AND user_auth_.identifier=#{identifier}
    </select>
    <select id="getByIdentifierAndIdentifierType" resultMap="auth">
        SELECT
        <include refid="columnSysUserAuth"/>
        FROM t_sys_user_auth user_auth_
        WHERE
        user_auth_.identity_type =#{identityType}
        AND user_auth_.identifier=#{identifier}
    </select>

    <insert id="save" parameterType="com.arc.core.model.domain.system.SysUserAuth" useGeneratedKeys="true"
            keyProperty="id">
		INSERT INTO t_sys_user_auth (
			user_id,
			identity_type,
			identifier,
			credential,
			state,
			verified,
			create_date,
			update_date
		)
        VALUES (
			#{userId,jdbcType=BIGINT},
			#{identityType,jdbcType=INTEGER},
			#{identifier,jdbcType=VARCHAR},
			#{credential,jdbcType=VARCHAR},
			#{state,jdbcType=INTEGER},
			#{verified,jdbcType=INTEGER},
			#{createDate,jdbcType=TIMESTAMP},
			#{updateDate,jdbcType=TIMESTAMP}
		)
	</insert>

    <update id="update" parameterType="com.arc.core.model.domain.system.SysUserAuth">
        UPDATE t_sys_user_auth
        <set>
            <if test="userId != null">user_id = #{userId,jdbcType=BIGINT},</if>
            <if test="identityType != null">identity_type = #{identityType,jdbcType=INTEGER},</if>
            <if test="identifier != null">identifier = #{identifier,jdbcType=VARCHAR},</if>
            <if test="credential != null and credential != ''">credential = #{credential,jdbcType=VARCHAR},</if>
            <if test="state != null">state = #{state,jdbcType=INTEGER},</if>
            <if test="verified != null">verified = #{verified,jdbcType=INTEGER},</if>
            <if test="createDate != null">create_date = #{createDate,jdbcType=TIMESTAMP},</if>
            <if test="updateDate != null">update_date = #{updateDate,jdbcType=TIMESTAMP},</if>
        </set>
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

</mapper>
